body{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}

header{background-color: lightcoral;
}

main{
    display: flex; 
    flex-direction: row;
    flex:auto;
}

main article{
    flex: 2;
    overflow-y: auto;
}

main aside{
    flex: 1; 
    overflow-y: auto;
}

header div {
    display: flex;
    height:1px;
    justify-content:space-between;
    align-items: center;
    padding-bottom: 1px;
}

table, th, tr, td{
    border: 3px solid black;
}
aside p{
    background-color: rgb(100, 122, 142);}

aside{
    background-color: lightgoldenrodyellow;
}

table{
    background-color:yellow;
    width: 300px;
    height: 250px;
}

footer { 
    background-color: lightcoral; }

footer p a{
    background-color: rgb(100, 122, 142);
}








